@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.mc-detail {
  background: $header-text-color;
  padding: 20px 0;

  @media (max-width: 600px) {
    padding: 15px 0;
  }

  @media (max-width: $min-width) {
    padding: 10px 0;
  }

  &__header {
    @include container-center;
    margin-bottom: 20px;

    @media (max-width: 600px) {
      margin-bottom: 15px;
    }

    @media (max-width: $min-width) {
      margin-bottom: 10px;
    }
  }

  &__info {
    background: $header-text-color;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
  }

  &__info-top {
    position: relative;
    width: 100%;
    height: 300px;

    @media (max-width: 1250px) {
      height: 250px;
    }

    @media (max-width: 900px) {
      height: 200px;
    }

    @media (max-width: 600px) {
      height: 150px;
    }

    @media (max-width: $min-width) {
      height: 120px;
    }
  }

  &__info-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.3);
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $headline-font-family;
    font-size: 3rem;
    color: $header-text-color;
    margin: 0;
    text-align: center;

    @media (max-width: $mid-width) {
      font-size: 2.5rem;
    }

    @media (max-width: $min-width) {
      font-size: 2rem;
    }
  }

  &__info-bottom {
    background: $primary-color;
    padding: 15px 20px;
    @include flex-between;
    gap: 40px;
    position: relative;

    @media (max-width: 900px) {
      flex-direction: column;
      gap: 20px;
      padding: 12px 15px;
    }

    @media (max-width: 600px) {
      gap: 15px;
      padding: 10px 12px;
    }

    @media (max-width: $min-width) {
      gap: 10px;
      padding: 8px 10px;
    }
  }

  &__price,
  &__seats {
    font-family: $regular-font-family;
    font-size: 2rem;
    color: $header-text-color;
    position: relative;
    flex: 1;

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      right: -20px;
      top: 50%;
      transform: translateY(-50%);
      width: 2px;
      height: 100%;
      background: $header-text-color;
      opacity: 0.5;

      @media (max-width: 900px) {
        display: none;
      }
    }

    @media (max-width: $mid-width) {
      font-size: 1.8rem;
    }

    @media (max-width: $min-width) {
      font-size: 1.6rem;
    }
  }

  &__signup-button {
    @include button-style;
    background: $accent-color;
    color: $header-text-color;
    font-family: $regular-font-family;
    font-size: 2rem;
    font-weight: 500;
    padding: 10px 30px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    flex: 1;

    &:hover {
      background: $accent-color-hover;
    }

    @media (max-width: $mid-width) {
      font-size: 1.8rem;
      padding: 8px 20px;
    }

    @media (max-width: $min-width) {
      font-size: 1.6rem;
      padding: 6px 15px;
    }
  }

  &__event-info {
    @include container-center;
    background: none;
    padding: 20px;
    border-radius: 12px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    @media (max-width: 900px) {
      flex-direction: column;
      gap: 15px;
      align-items: flex-start;
    }

    @media (max-width: 600px) {
      padding: 15px;
      margin-top: 30px;
    }

    @media (max-width: $min-width) {
      padding: 10px;
      margin-top: 20px;
    }
  }

  &__event-left {
    display: flex;
    flex-direction: column;
  }

  &__event-date,
  &__event-time,
  &__event-restaurant,
  &__event-location {
    font-family: $regular-font-family;
    font-size: 2rem;
    font-weight: normal;
    color: $text-color;
    margin: 0;

    @media (max-width: $mid-width) {
      font-size: 1.8rem;
    }

    @media (max-width: $min-width) {
      font-size: 1.6rem;
    }
  }

  &__event-rating {
    @include flex-center;
    gap: 10px;
    font-family: $regular-font-family;
    font-size: 2rem;
    color: $text-color;
    margin: 0;

    @media (max-width: $mid-width) {
      font-size: 1.8rem;
      gap: 8px;
    }

    @media (max-width: $min-width) {
      font-size: 1.6rem;
      gap: 6px;
    }
  }

  &__rating-star {
    width: 50px;
    height: 50px;

    @media (max-width: 1250px) {
      width: 40px;
      height: 40px;
    }

    @media (max-width: 900px) {
      width: 35px;
      height: 35px;
    }

    @media (max-width: 600px) {
      width: 30px;
      height: 30px;
    }

    @media (max-width: $min-width) {
      width: 25px;
      height: 25px;
    }
  }

  &__description {
    @include container-center;
    margin: 60px auto;

    @media (max-width: 600px) {
      margin: 40px auto;
    }

    @media (max-width: $min-width) {
      margin: 30px auto;
    }

    h2 {
      font-family: $headline-font-family;
      font-size: 2.5rem;
      color: $text-color;
      margin-bottom: 10px;

      @media (max-width: $mid-width) {
        font-size: 2.2rem;
      }

      @media (max-width: $min-width) {
        font-size: 2rem;
      }
    }

    p {
      font-family: $regular-font-family;
      font-size: 2rem;
      color: $text-color;
      line-height: 3rem;

      @media (max-width: $mid-width) {
        font-size: 1.8rem;
        line-height: 2.8rem;
      }

      @media (max-width: $min-width) {
        font-size: 1.6rem;
        line-height: 2.5rem;
      }
    }
  }

  &__chefs {
    width: 100%;
    background: $card-color;
    padding: 20px;
    margin: 0 0 40px;

    @media (max-width: 600px) {
      padding: 15px;
    }

    @media (max-width: $min-width) {
      padding: 10px;
    }

    h2 {
      font-family: $headline-font-family;
      font-size: 2.5rem;
      color: $header-text-color;
      margin: 0 0 5px;
      text-align: center;

      @media (max-width: $mid-width) {
        font-size: 2.2rem;
      }

      @media (max-width: $min-width) {
        font-size: 2rem;
      }
    }
  }

  &__chefs-list {
    @include container-center;
    display: flex;
    flex-direction: column;
    gap: 25px;

    @media (max-width: 600px) {
      gap: 20px;
    }

    @media (max-width: $min-width) {
      gap: 15px;
    }
  }

  &__chef {
    display: flex;
    gap: 20px;
    align-items: center;
    max-width: 600px;

    @media (max-width: 600px) {
      flex-direction: column;
      gap: 15px;
      align-items: flex-start;
    }

    @media (max-width: $min-width) {
      gap: 10px;
    }
  }

  &__chef-image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;

    @media (max-width: 1250px) {
      width: 110px;
      height: 110px;
    }

    @media (max-width: 900px) {
      width: 90px;
      height: 90px;
    }

    @media (max-width: 600px) {
      width: 80px;
      height: 80px;
    }

    @media (max-width: $min-width) {
      width: 70px;
      height: 70px;
    }
  }

  &__chef-info {
    flex: 1;
  }

  &__chef-name {
    font-family: $regular-font-family;
    font-size: 2rem;
    font-weight: 500;
    color: $header-text-color;
    margin: 0 0 5px;

    @media (max-width: $mid-width) {
      font-size: 1.8rem;
    }

    @media (max-width: $min-width) {
      font-size: 1.6rem;
    }
  }

  &__chef-bio {
    font-family: $regular-font-family;
    font-size: 2rem;
    color: $header-text-color;
    margin: 0;
    text-align: start;

    @media (max-width: $mid-width) {
      font-size: 1.8rem;
    }

    @media (max-width: $min-width) {
      font-size: 1.6rem;
    }
  }

  &__chef-nothing {
    font-family: $regular-font-family;
    font-size: 2.5rem;
    color: $header-text-color;
    text-align: center;
    margin: 0;

    @media (max-width: $mid-width) {
      font-size: 2.2rem;
    }

    @media (max-width: $min-width) {
      font-size: 2rem;
    }
  }

  .loading,
  .error {
    @include container-center;
    font-family: $regular-font-family;
    font-size: 1.2rem;
    color: $text-color;
    text-align: center;
    padding: 20px;

    @media (max-width: $mid-width) {
      font-size: 1.1rem;
      padding: 15px;
    }

    @media (max-width: $min-width) {
      font-size: 1rem;
      padding: 10px;
    }
  }
}
