@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer {
  width: 100vw;
  padding: 10px 0 15px;
  background-color: $text-color;
  padding: 20px 0;

  &__wrapper {
    @include container-center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__logo {
    max-width: 170px;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    &-img {
      height: 50px;
      width: auto;
    }
  }

  &__nav {
    &-list {
      display: flex;
      gap: 15px;
    }

    &-link {
      display: block;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: $regular-font-size;
      padding: 5px 10px;
      color: $header-text-color;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  &__apps {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-title {
      color: $header-text-color;
      font-family: Arial, Helvetica, sans-serif;
      font-size: $regular-font-size;
    }

    &-links {
      display: flex;
      gap: 10px;
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      max-width: 350px;
      max-height: 65px;
      background-color: $primary-color;
      color: $header-text-color;
      font-family: Arial, Helvetica, sans-serif;
      font-size: $regular-font-size;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 10px;
    }

    &-icon {
      width: 45px;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__social {
    display: flex;
    gap: 10px;

    &-link {
      display: block;
    }

    &-icon {
      width: 50px;
      height: auto;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &-link {
      color: $header-text-color;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.6rem;
      display: flex;
      align-items: center;
      gap: 10px;

      &:hover {
        text-decoration: underline;
      }
    }

    &-img {
      width: 20px;

      &:last-of-type {
        width: 25px;
      }
    }
  }

  &__copyright {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: $header-text-color;
    margin-top: 30px;
  }
}
