@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
  width: 100%;
  padding: 10px 0 15px;
  background-color: $primary-color;

  &__wrapper {
    @include container-center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__location {
    @include flex-center;
    align-self: flex-start;
    gap: 5px;

    &-btn {
      @include button-like-link;
      @include flex-center;
      gap: 10px;
      color: $header-text-color;
      font-size: 1.6rem;
    }

    &-img {
      width: 20px;
    }
  }

  &__top {
    @include flex-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    &-img {
      height: 50px;
      width: auto;
    }
  }

  &__search {
    max-width: $max-width;
    flex-grow: 1;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    background-color: $header-text-color;
    border-radius: 10px;
    z-index: 10;
    width: 100%; // Гарантируем полную ширину
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &-link {
      color: $header-text-color;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.6rem;
      display: flex;
      align-items: center;
      gap: 10px;
      transition: color 0.3s;

      &:hover {
        color: $accent-color;
        text-decoration: underline;
      }
    }

    &-img {
      width: 20px;

      &:last-of-type {
        width: 25px;
      }
    }
  }

  &__nav {
    &-list {
      display: flex;
      gap: 15px;
    }

    &-link {
      display: block;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: $regular-font-size;
      padding: 5px 10px;
      color: $header-text-color;
      transition: color 0.3s;

      &.active {
        background-color: $header-text-color;
        border-radius: 10px;
        color: $accent-color;
        font-weight: bold;
      }

      &:hover {
        color: $accent-color;
        text-decoration: underline;
      }
    }

    &-btn {
      display: block;
      @include button-like-link;
      font-family: $regular-font-family;
      line-height: 1.6;
      font-size: $regular-font-size;
      padding: 5px 10px;
      color: $header-text-color;
      cursor: pointer;
      transition: color 0.3s;

      &.active {
        background-color: $header-text-color;
        border-radius: 10px;
        color: $accent-color;
        font-weight: bold;
      }

      &:hover {
        color: $accent-color;
        text-decoration: underline;
      }
    }
  }
}
