@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.sort {
  display: flex;
  gap: 5px;

  &__button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: transform 0.4s ease-in-out;

    &:active {
      transform: rotate(360deg);
    }
  }

  &__icon {
    width: 20px;
  }

  &__select {
    background: none;
    border: none;
    color: $text-color;
    font-size: 1.6rem;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;

    &::-webkit-dropdown-list {
      transition: max-height 0.3s ease-in-out;
    }
  }

  &__option {
    background-color: $header-text-color;
  }
}
