@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.user-reviews-comments-likes {
  @include container-center;
  padding: 20px;

  h2,
  h3 {
    font-family: $headline-font-family;
    font-size: $headline-font-size;
    color: $text-color;
    margin-bottom: 20px;
  }

  h3 {
    font-size: $regular-font-size * 1.2;
  }

  &__section {
    margin-bottom: 30px;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    background: $header-text-color;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;

    p {
      font-size: $regular-font-size;
      color: $text-color;
      margin: 5px 0;
    }
  }

  &__button {
    @include button-style;
    background: $error-color;
    color: $header-text-color;

    &:hover {
      background: red;
    }
  }

  .error {
    color: $error-color;
    text-align: center;
    font-size: $regular-font-size;
  }
}
