@use "../abstracts/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: $regular-font-family;
  font-size: $regular-font-size;
  line-height: 1.6;
  background-color: $header-text-color;
  color: $text-color;
}
